<div class="container">
  <div class="row">
    <div class="twelve columns">
      <h1>FileSec</h1>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <label for="fileUpload">Encrypt New File</label>
      <input class="u-full-width" type="file" id="fileUpload" onchange="angular.element(this).scope().upload(true)">
    </div>
    <div class="six columns">
      <label for="fileDecrypt">Decrypt File</label>
      <input class="u-full-width" type="file" id="fileDecrypt" onchange="angular.element(this).scope().upload(false)">
    </div>
  </div>
</div>