<!DOCTYPE html>
<html ng-app="FileSec">
  <head>
    <title>FileSec</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="../dist/vendor/skeleton/css/skeleton.css" />
    <!-- endbower -->
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="../dist/css/style.css">
  </head>
  <body>

    <ui-view></ui-view>

    <script src="../dist/js/fs.js"></script>

    <script src="../dist/vendor/cryptojslib/rollups/aes.js"></script>
    <script src="../dist/vendor/firebase/firebase.js"></script>
    <script src="../dist/vendor/socket.io-client/socket.io.js"></script>

    <script src="../dist/vendor/angular/angular.js"></script>
    <script src="../dist/vendor/angular-mocks/angular-mocks.js"></script>
    <script src="../dist/vendor/angular-cryptography/mdo-angular-cryptography.js"></script>
    <script src="../dist/vendor/angular-socket-io/socket.min.js"></script>
    <script src="../dist/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="../dist/vendor/angularfire/dist/angularfire.min.js"></script>
    <script src="../dist/vendor/angular-fileupload/angular-filereader.min.js"></script>
    <script src="../dist/vendor/angular-md5/angular-md5.min.js"></script>

    <!-- FileSec-Configuration -->
    <script src="../dist/app/modules.js"></script>
    <script src="../dist/app/config.js"></script>

    <!-- FileSec-Utilities -->
    <script src="../dist/app/components/socket.svc.js"></script>
    <script src="../dist/app/components/firebase.svc.js"></script>
    <script src="../dist/app/components/uploads.svc.js"></script>

    <!-- FileSec-Home -->
    <script src="../dist/app/home/home.ctrl.js"></script>
    <script src="../dist/app/home/pin.ctrl.js"></script>
    <script src="../dist/app/login/login.ctrl.js"></script>
  </body>
</html>
